<!DOCTYPE html>
<head>
    <style>  
        body  {  
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image:url("https://cdn.wallpapersafari.com/80/65/kNA35n.jpg");  
            background-color: #cccccc;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }  
    </style>  
    <title> Hackathon Management System</title>
</head>

<body>
<left>
    <a href="{% url 'HomePage' %}">
        <button>HomePage</button>
    </a>
</left>

<left>
    <a href="{% url 'show_org' %}">
        <button>Show Organization Database</button>
    </a>
</left>

<left>
    <a href="{% url 'insert_org' %}">
        <button>Insert Organization</button>
    </a>
</left>

    <center>
        <a href="{% url 'runQueryorg' %}">
            <button style="margin:5px;">Run Query</button>
        </a>
    </a>
    <a href="{% url 'run_query' %}">
        <button style="margin:5px;">Run Custom Query</button>
    </a>
        <h1 style="color:white;"> Delete Organization Record </h1>
    </hr>

        <form method="POST" action="/deleted_org/{{org.org_id}}">
            {% csrf_token%}
        <table border="1" bgcolor="lightblue">
            <tr>
                <td>org_id</td>
                <td><input type="text" name="org_id" value="{{org.org_id}}" readonly></td>
            </tr>

            <tr>
                <td>name</td>
                <td><input type="text" name="name" value="{{org.name}}" readonly></td>
            </tr>

            <tr>
                <td>address</td>
                <td><input type="text" name="address" value="{{org.address}}" readonly></td>
            </tr>

            <tr>
                <td>org_rating</td>
                <td><input type="text" name="org_rating" value="{{org.org_rating}}" readonly></td>
            </tr>


            <tr>
                <td><input type="submit" value="Delete Record"></td>
                <td>
                    {% if messages %}
                    {% for mess in messages %}
                    <b style="color: red;">{{mess}}</b>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        </form>
    </center>
</body>
</html>